<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<title>Sistema de Gestion Administrativo Contable</title>
	<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
	<link th:href="@{/webjars/bootstrap-table/1.12.1/dist/bootstrap-table.min.css}" rel="stylesheet" media="screen" />
	<link th:href="@{/css/global.css}" rel="stylesheet" media="screen" />
</head>
<body>
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Cuentas Corrientes</h3>
			</div>
						<div class="panel-body">
				<table id="cuentas-table"></table>
				<div class="cuentas-table-toolbar">
					<div class="form-inline" role="form">
						<button id="agregar-nuevo" type="button" class="btn btn-primary">Agregar Cuenta</button>
					</div>
				</div>
				<div id="edicion" style="display:none">
					<div class="separacion-15"></div>
					<form class="form-horizontal">
						<input type="hidden" id="id"/>
						<div class="form-group">
							<label for="id" class="col-md-2 control-label">Nro Cuenta</label>
							<div class="col-md-2">
								<input type="text" class="form-control" id="id" disabled>
							</div>
						</div>
						<div class="form-group">
							<label for="razonSocial" class="col-md-2 control-label">Razón Social</label>
							<div class="col-md-4">
								<input type="text" class="form-control" id="razonSocial" placeholder="Razón Social" >
							</div>
						</div>
						
						<div class="form-group">
							<label for="moneda" class="col-md-2 control-label">Moneda</label>
							<div class="col-md-4">
								<input type="text" class="form-control" id="moneda" placeholder="Moneda">
							</div>
						</div>
						<div class="form-group">
							<label for="saldo" class="col-md-2 control-label">Saldo</label>
							<div class="col-md-4">
								<input type="text" class="form-control" id="saldo" placeholder="Saldo">
							</div>
						</div>																																									
						<div class="form-group">
							<div class="col-md-offset-2 col-md-4">
								<button type="button" id="cancelar" class="btn btn-default" style="display:none">Cancelar</button>
								<button type="button" id="guardar" class="btn btn-primary" style="display:none">Guardar</button>
								<button type="button" id="movimientos" class="btn btn-primary" style="display:none">Ver Movimiento</button>
								<button type="button" id="eliminar" class="btn btn-danger" style="display:none">Eliminar</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			
			
		</div>
	</div>
</div>
<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}" type="text/javascript"></script>
<script type="text/javascript" th:inline="javascript">

$(function(){
	bootbox.setLocale("es");
	$("table#cuentas-table").bootstrapTable({
		url: [[@{/api/cuentas}]],
		pagination : true,
		sidePagination: 'server',
		pageSize: 5,
		pageList: [5,10,20],
		showRefresh: true,
		clickToSelect: true,
		singleSelect: true,
		columns: [
			{
				title: "#",
				checkbox: true,
			},
			{
				field: "id",
				title: "ID",
				visible: false
			},
			{
				field: "id",
				title: "Nro Cuenta"
			},
			{
				field: "razonSocial",
				title: "Razón Social"
			},
			{
				field: "moneda",
				title: "Moneda"
			},
			{
				field: "saldo",
				title: "Saldo"
			}
		],
		buttonsAlign: 'right',
		toolbarAlign: 'right',
		toolbar: "div#cuentas-table-toolbar",
		onCheck: function(cuentas){
			abrirEdicion(cuentas);
		},
		onUncheck: function(){
			cerrarEdicion();
		}
	});
	
	$("button#agregar-nuevo").click(abrirCreacion);
	$("button#cancelar").click(cerrarEdicion);
	$("button#guardar").click(guardarCuenta);
	$("button#movimientos").click(verMovimientos);
	$("button#eliminar").click(eliminarCuenta);

	function abrirCreacion(){
		$("button#agregar-nuevo").prop("disabled",true);
		$("button#cancelar").show();
		$("button#guardar").show();
		$("button#eliminar").hide();
		$("button#movimientos").hide();
		$("div#edicion").show();
		$("input#id").val(null);
		$("input#id").val(null).prop("disabled",true);
		$("input#razonSocial").val(null).prop("disabled",false);
		$("input#moneda").val(null).prop("disabled",false);
		$("input#saldo").val(null).prop("disabled",false);

	}
	
	function abrirEdicion(cuentas){
		$("button#agregar-nuevo").prop("disabled",true);
		$("button#cancelar").show();
		$("button#guardar").hide();
		$("button#movimientos").show();
		$("button#eliminar").show();
		$("div#edicion").show();
		$("input#id").val(cuentas.id);
		$("input#id").val(cuentas.id).prop("disabled",true);
		$("input#razonSocial").val(cuentas.razonSocial).prop("disabled",true);
		$("input#moneda").val(cuentas.moneda).prop("disabled",true);
		$("input#saldo").val(cuentas.saldo).prop("disabled",true);



	}
	
	function cerrarEdicion(){
		$("div#edicion").hide();
		$("input#id").val(null);
		$("input#razonSocial").val(null);
		$("input#moneda").val(null);
		$("input#saldo").val(null);

		$("button#agregar-nuevo").prop("disabled",false);
	}
	
	function eliminarCuenta(){
		
		var id = $("input#id").val();
		bootbox.confirm({
			message: "¿Está seguro que desea eliminar al cuentas?",
			size: "small",
			callback: function(confirmed){
				$.ajax({
					url: [[@{/api/cuentas/}]] + id,
					method: "DELETE",
					contentType: "application/json; charset=utf-8",
					dataType: 'json',
					data: JSON.stringify(id)
				}).done(function(){
					cerrarEdicion();
					refreshTable();
				}).fail(handleFailure);		
			}
		});
	}
	
	function guardarCuenta(){
		var cuentas = getDatosCuenta();
		var existente = cuentas.id
		if ( existente ){
			actualizarCuentaExistente(cuentas);
		} else {
			darDeAltaCuenta(cuentas);
		}
	}
	
	function darDeAltaCuenta(cuentas){
		if (cuentas.moneda == "PESO" || cuentas.moneda == "DOLAR" || cuentas.moneda == "EURO" )
		{

			$.ajax({
				url: [[@{/api/cuentas/}]],
				method: "POST",
				dataType: 'json',
				contentType: "application/json; charset=utf-8",
				data: JSON.stringify(cuentas)
			}).done(function(){
				cerrarEdicion();
				refreshTable();
			}).fail(handleFailure);
	
		}
		else {
			bootbox.alert("El Tipo de Moneda solo puede ser PESO,EURO o DOLAR");

		}	
	
	}
	
	function actualizarCuentaExistente(cuentas){
		$.ajax({
			url: [[@{/api/cuentas/}]] + cuentas.id,
			method: "PUT",
			contentType: "application/json; charset=utf-8",
			dataType: 'json',
			data: JSON.stringify(cuentas)
		}).done(function(){
			cerrarEdicion();
			refreshTable();
		}).fail(handleFailure);
	}
	
	function handleFailure(e){
		var msg = "La cuenta tiene Movimientos y no puede ser eliminada";
		switch ( e.status ){
			case 501:
				msg = "Método sin implementar";
			break;
		}
		bootbox.alert(msg);
	}
	
	function refreshTable(){
		$("table#cuentas-table").bootstrapTable("refresh");
	}
	
	function getDatosCuenta(){
		return {
			
			id: $("input#id").val(),
			razonSocial: $("input#razonSocial").val(),
			moneda: $("input#moneda").val(),
			saldo: $("input#saldo").val()



		}
	}
	
	function verMovimientos(){
		var cuentas = getDatosCuenta();
		
		window.location.href ="http://localhost:8080/movimientos/" + cuentas.id;

	}
});

</script>
<script th:src="@{/webjars/bootstrap-table/1.12.1/dist/bootstrap-table.min.js}" type="text/javascript"></script>
<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/webjars/bootbox/4.4.0/bootbox.js}" type="text/javascript"></script>
</body>
</html>