<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<title>Sistema de Gestion de Sucursales</title>
	<link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
	<link th:href="@{/webjars/bootstrap-table/1.12.1/dist/bootstrap-table.min.css}" rel="stylesheet" media="screen" />
	<link th:href="@{/css/global.css}" rel="stylesheet" media="screen" />
</head>
<body>
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Sucursales</h3>
			</div>
						<div class="panel-body">
				<table id="sucursales-table"></table>
				<div class="sucursales-table-toolbar">
					<div class="form-inline" role="form">
						<button id="agregar-nuevo" type="button" class="btn btn-primary">Agregar Sucursal</button>
					</div>
				</div>
				<div id="edicion" style="display:none">
					<div class="separacion-15"></div>
					<form class="form-horizontal">
						<input type="hidden" id="id"/>
						<div class="form-group">
							<label for="id" class="col-md-2 control-label">Nro de Sucursal</label>
							<div class="col-md-2">
								<input type="text" class="form-control" id="id" disabled>
							</div>
						</div>
						<div class="form-group">
							<label for="nombre" class="col-md-2 control-label">Nombre</label>
							<div class="col-md-4">
								<input type="text" class="form-control" id="nombre" placeholder="Nombre" >
							</div>
						</div>
						
						<div class="form-group">
							<label for="latitud" class="col-md-2 control-label">Latitud</label>
							<div class="col-md-4">
								<input type="text" class="form-control" id="latitud" placeholder="Latitud">
							</div>
						</div>
						<div class="form-group">
							<label for="longitud" class="col-md-2 control-label">Longitud</label>
							<div class="col-md-4">
								<input type="text" class="form-control" id="longitud" placeholder="Longitud">
							</div>
						</div>																																																
						<div class="form-group">
							<div class="col-md-offset-2 col-md-4">
								<button type="button" id="cancelar" class="btn btn-default" style="display:none">Cancelar</button>
								<button type="button" id="guardar" class="btn btn-primary" style="display:none">Guardar</button>
								<button type="button" id="eliminar" class="btn btn-danger" style="display:none">Eliminar</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			
			
		</div>
	</div>
</div>
<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}" type="text/javascript"></script>
<script type="text/javascript" th:inline="javascript">

$(function(){
	bootbox.setLocale("es");
	$("table#sucursales-table").bootstrapTable({
		url: [[@{/api/sucursales}]],
		pagination : true,
		sidePagination: 'server',
		pageSize: 5,
		pageList: [5,10,20],
		showRefresh: true,
		clickToSelect: true,
		singleSelect: true,
		columns: [
			{
				title: "#",
				checkbox: true,
			},
			{
				field: "id",
				title: "ID",
				visible: false
			},
			{
				field: "id",
				title: "Nro Sucursal"
			},
			{
				field: "nombre",
				title: "Nombre"
			},
			{
				field: "latitud",
				title: "Latitud"
			},
			{
				field: "longitud",
				title: "Longitud"
			}
		],
		buttonsAlign: 'right',
		toolbarAlign: 'right',
		toolbar: "div#sucursales-table-toolbar",
		onCheck: function(sucursales){
			abrirEdicion(sucursales);
		},
		onUncheck: function(){
			cerrarEdicion();
		}
	});
	
	$("button#agregar-nuevo").click(abrirCreacion);
	$("button#cancelar").click(cerrarEdicion);
	$("button#guardar").click(guardarSucursal);
	$("button#eliminar").click(eliminarSucursal);

	function abrirCreacion(){
		$("button#agregar-nuevo").prop("disabled",true);
		$("button#cancelar").show();
		$("button#guardar").show();
		$("button#eliminar").hide();
		$("div#edicion").show();
		$("input#id").val(null);
		$("input#nombre").val(null).prop("disabled",false);
		$("input#latitud").val(null).prop("disabled",false);
		$("input#longitud").val(null).prop("disabled",false);

	}
	
	function abrirEdicion(sucursales){
		$("button#agregar-nuevo").prop("disabled",true);
		$("button#cancelar").show();
		$("button#guardar").hide();
		$("button#eliminar").show();
		$("div#edicion").show();
		$("input#id").val(sucursales.id);
		$("input#id").val(sucursales.id).prop("disabled",true);
		$("input#nombre").val(sucursales.nombre).prop("disabled",true);
		$("input#latitud").val(sucursales.latitud).prop("disabled",true);
		$("input#longitud").val(sucursales.longitud).prop("disabled",true);



	}
	
	function cerrarEdicion(){
		$("div#edicion").hide();
		$("input#id").val(null);
		$("input#nombre").val(null);
		$("input#latitud").val(null);
		$("input#longitud").val(null);

		$("button#agregar-nuevo").prop("disabled",false);
	}
	
	function eliminarSucursal(){
		
		var id = $("input#id").val();
				$.ajax({
					url: [[@{/api/sucursales/}]] + id,
					method: "DELETE",
					contentType: "application/json; charset=utf-8",
					dataType: 'json',
					data: JSON.stringify(id)
				}).done(function(){
					cerrarEdicion();
					refreshTable();
				}).fail(handleFailure);		
			
	
	}
	
	function guardarSucursal(){
		var sucursales = getDatosSucursal();

		darDeAltaSucursal(sucursales);
		
	}
	
	function darDeAltaSucursal(sucursales){
		

			$.ajax({
				url: [[@{/api/sucursales/}]],
				method: "POST",
				dataType: 'json',
				contentType: "application/json; charset=utf-8",
				data: JSON.stringify(sucursales)
			}).done(function(){
				cerrarEdicion();
				refreshTable();
			}).fail(handleFailure);
	
		
	
	}
	
	function actualizarSucursalExistente(sucursales){
		$.ajax({
			url: [[@{/api/sucursales/}]] + sucursales.id,
			method: "PUT",
			contentType: "application/json; charset=utf-8",
			dataType: 'json',
			data: JSON.stringify(sucursales)
		}).done(function(){
			cerrarEdicion();
			refreshTable();
		}).fail(handleFailure);
	}
	
	function handleFailure(e){
		switch ( e.status ){
			case 501:
				msg = "Método sin implementar";
			break;
		}
		bootbox.alert(msg);
	}
	
	function refreshTable(){
		$("table#sucursales-table").bootstrapTable("refresh");
	}
	
	function getDatosSucursal(){
		return {
			
			id: $("input#id").val(),
			nombre: $("input#nombre").val(),
			latitud: $("input#latitud").val(),
			longitud: $("input#longitud").val()



		}
	}
	
});

</script>
<script th:src="@{/webjars/bootstrap-table/1.12.1/dist/bootstrap-table.min.js}" type="text/javascript"></script>
<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/webjars/bootbox/4.4.0/bootbox.js}" type="text/javascript"></script>
</body>
</html>